[Unit]
Description=Sopel IRC bot
Documentation=https://sopel.chat/
After=network.target

[Service]
Type=simple
User=sopel
PIDFile={{ sopel_pid_dir }}/sopel-sopel.pid
ExecStart={{ sopel_install_dir }}/venv/bin/sopel -c {{ sopel_config_dir }}/sopel.cfg
ExecStop={{ sopel_install_dir }}/venv/bin/sopel -c {{ sopel_config_dir }}/sopel.cfg -q
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30
Environment=LC_ALL=en_US.UTF-8
SyslogIdentifier=sopel

[Install]
WantedBy=multi-user.target

